
 body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 2em;
    color: #333333;
    background-color: white;
}
	h1{
  font-size: 4em;
  text-align: center;
  font-weight: bold;
  color: blue;

}  
 

nav ul {
    list-style-type: none;
    text-align: center;
    background-color:red;
    padding: 15px 0;
    margin-top: 0;
    border-top: black 2px solid;
    border-bottom: black 2px solid;
}

       
nav a {
        text-decoration: none;
        padding-right: 10px;
  
}
nav li{
	    display: inline;
}
nav a:link{
           color: green;
}
nav a:visited{
              color: blue;
}
nav a:hover{
             color: orange;
}
nav a:active{
              color: red;
}

/*This is main section*/
main{
      max-width: 1200px;
      margin: 0 auto;

}


.home-hero{
               max-width: 100%
               margin-left:auto;
               margin-right: auto;
               display: block;
               height: 100%;
               background-size: contain;
               background-position: center top;
               background-repeat: no-repeat;

}
img{
     display:block;
     max-width:100%;
     height:auto;
     margin:0 auto;
}
.gallery .preview{
    width:100%
    height:auto;
}

.gallery .gallery-thumbnails img {
    width:100px;
    height:75px;
    margin: 3px 10px 10px 0;
    display: inline;
}

.gallery .gallery-thumbnails img:hover {
    opacity: .8;
    cursor: pointer;
}

.gallery .preview img#preview {
    padding: 1px;
    max-width: 100%;
    height: auto;
    margin: 0 auto !important;
    display: block !important;
}


.col-sm-4 {
            text-align: center;
            
            
}


blockquote{
            margin: 20px;
}

*{
  box-sizing: border-box;
}

#mobile{
        display: none;
}



/**********CSS Tablet***********/
@media only screen and (max-width: 1024px){
	h1{
		font-size: 2em;
	}	
}


}
/*CSS for smart phonee*/
@media only screen and (max-width: 768px){
	h1{
		font-size: 1.5em;
	}	
}

}
#desktop{
    display:none;
  }
  #mobile{
    display:inline;
  }
  
  